{% extends 'base.html' %}
{% block title %}School{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="collapsible popout" data-collapsible="accordion">
        {% for user in users %}
        <li>
          <div class="collapsible-header">{{user.name}}</div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="col s12">
      <table>
        <thead>
            <th>Name</th>
            <th>Role</th>
            <th>Remove</th>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <th>{{user.name}}</th>
            <th>{{user.role}}</th>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
</div>
{% endblock %}
