<script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyDCx4S18HkAPf3lFBTVyWqDUtahetCq_Hw",
    authDomain: "webnouncements-150505.firebaseapp.com",
    databaseURL: "https://webnouncements-150505.firebaseio.com",
    storageBucket: "webnouncements-150505.appspot.com",
    messagingSenderId: "1069321684202"
  };
  firebase.initializeApp(config);
</script>
<script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
