{% extends 'base.html' %}
{% block title %}Submit{% endblock %}
{% block content %}
<div class="row">
  {% include "error.html" %}
  <div class="col s12 center-align">
    <h4>{{school_name}}</h4>
  </div>
  <form method="post" action="{{link}}" class="col s12" id="form">
    <div class="row">
      <div class="input-field col s12">
        <input name="sc" type="text" id="sc" value="{{school_code}}" required/>
        <label for="sc">School Code</label>
      </div>
      <div class="input-field col s12">
        <input name="title" type="text" id="title" value="{{title}}" required/>
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <textarea id="text" class="materialize-textarea" name="text" required>{{text}}</textarea>
        <label for="text">Text</label>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="row">
            <div class="card-content" id="read">
              <h5>Display on:</h5>
              <div class="input-field col s6">
                <input type="date" id="startDate" name="startDate" class="datepicker" required/>
                <label for="startDate">Start Date</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="endDate" class="datepicker" id="endDate" required/>
                <label for="startDate">End Date</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12" id="mergeRead">
        <div class="switch">
          <label>
            Custom Read Dates
            <input type="checkbox" id="mergeReadSwitch" name="mergeReadSwitch" onClick="updateRead()"/>
            <span class="lever"></span>
            Read on Same Dates
          </label>
        </div>
      </div>
      <div class="col s12" id="readDate">
        <div class="card">
          <div class="row">
            <div class="card-content">
              <h5>Read on:</h5>
              <div class="input-field col s6">
                <input type="date" id="readStartDate" name="readStartDate" class="datepicker" data-changed="false"/>
                <label for="startDate">Start Date</label>
              </div>
              <div class="input-field col s6">
                <input type="date" name="readEndDate" class="datepicker" id="readEndDate"/>
                <label for="startDate">End Date</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <input type="hidden" name="pid" value="{{postID}}" />
      <button class="btn submit">Submit</button>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script>
function updateRead(){
  console.log($("#mergeReadSwitch").is(':checked'));
  if ($("#mergeReadSwitch").is(':checked')) {
    $("#readDate").hide();
  } else {
    $("#readDate").show();
  };
};

$("#startDate").pickadate({
  selectMonths: true,
  selectYears: false,
  min: new Date(),
  closeOnClear: true,
  onSet: function(arg){
    if ('select' in arg){
      this.close();
      console.log("Start date set to ", $("#startDate").val());
      $('#endDate').pickadate('picker').set('min', $('#startDate').val());
      $('#readStartDate').pickadate('picker').set('min', $('#startDate').val());
      // $('#readStartDate').val($('#startDate').val());
    };
  }
});

$("#endDate").pickadate({
  selectMonths: true,
  selectYears: false,
  closeOnClear: true,
  onSet: function(arg){
    if ('select' in arg){
      this.close();
      //$('#readEndDate').val($('#endDate').val());
      $('#readStartDate').pickadate('picker').set('max', $('#endDate').val());
      $('#readEndDate').pickadate('picker').set('max', $('#endDate').val());
    };
  }
});

$("#readStartDate").pickadate({
  selectMonths: true,
  selectYears: false,
  closeOnClear: true,
  onSet: function(arg) {
    if ('select' in arg){
      this.close();
      $('#readEndDate').pickadate('picker').set('min', $("#readStartDate").val());
    }
  }
})

$(".datepicker").pickadate({
  selectMonths: true,
  selectYears: false,
  onSet: function(arg){
    if ('select' in arg){
      this.close();
    }
  }
});
</script>
<script>
  $("#form").submit(function(){
    if ($("#startDate").val() == "" || $("endDate").val() == ""){
      Materialize.toast('Please fill in read or end date values', 4000);
      return false;
    } else {
      // If the merge read switch is checked then change the values for read end and read start
      if ($("#mergeReadSwitch").is(":checked")) {
        $('#readEndDate').val($('#endDate').val());
        $('#readStartDate').val($('#startDate').val());
      };
    };
  });
</script>
<script>
$("#startDate").pickadate('picker').set("select", "{{startDate}}")
$("#endDate").pickadate('picker').set("select", "{{endDate}}")
$("#readStartDate").pickadate('picker').set("select", "{{readStartDate}}")
$("#readEndDate").pickadate('picker').set("select", "{{readEndDate}}")
</script>
{% endblock %}
