{% extends 'base.html' %}
{% block title %}Submit{% endblock %}
{% block content %}
<div class="row">
  {% include "error.html" %}
  <div class="col s12 center-align">
    <h4>{{school_name}}</h4>
  </div>
  <form method="post" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input name="sc" type="text" id="sc" value="{{school_code}}" required/>
        <label for="sc">School Code</label>
      </div>
      <div class="input-field col s12">
        <input name="title" type="text" id="title" required/>
        <label for="title">Title</label>
      </div>
      <div class="input-field col s12">
        <textarea id="text" class="materialize-textarea" name="text" required></textarea>
        <label for="text">Text</label>
      </div>
      <div class="col s12">
        <div class="card">
          <div class="row">
            <div class="card-content">
              <span class="card-title">Display Announcement on</span>
              <div class="input-field col s6">
                <input type="date" class="datepicker" name="startDate" id="startDate" required/>
                <label for="startDate">Start Date</label>
              </div>
              <div class="input-field col s6">
                <input type="date" class="datepicker" name="endDate" id="endDate"required/>
                <label for="endDate">End Date</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button class="btn submit">Submit</button>
  </form>
</div>
{% endblock %}
{% block scripts %}
<script>
$('.datepicker').pickadate({
  selectMonths: true,
  selectYears: 0,
});
$("#startDate").pickadate('picker').set('select', new Date());
</script>
{% endblock %}
