<!DOCTYPE html>
<html>
  <body>
    {% include '_includes/head.html' %}
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in posts %}
      <li>
         <div class="collapsible-header">{{post.title}}</div>
         <div class="collapsible-body">{{post.text}}</div>
      </li>
      {% endfor %}
    </ul>
    {% include '_includes/scripts.html' %}
    <div class="fixed-action-btn" style="bottom: 24px; right:24px;">
      <a class="btn-floating btn-large orange" href="https://webnouncements-v2.appspot.com/submit?sc={{school_code}}">
        <i class="material-icons">playlist_add</i>
      </a>
    </div>
  </body>
</html>
