<!DOCTYPE html>
<html>
  <body>
    {% include '_includes/head.html' %}
    <ul class="collapsible" data-collapsible="expandable">
      {% for post in posts %}
      <li>
         <div class="collapsible-header">{{post.title}}</div>
         <div class="collapsible-body">{{post.text}}</div>
      </li>
      {% endfor %}
    </ul>
    <div class="fixed-action-btn" style="left:24px;">
      <a class="btn-floating btn-large orange" onClick="toggleAll()" title="Expand All">
        <i class="material-icons">expand_more</i>
      </a>
    </div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large orange" target="_blank" href="/submit?sc={{school_code}}">
        <i class="material-icons">playlist_add</i>
      </a>
    </div>
    {% include '_includes/scripts.html' %}
    <script>
    // Event fire by Kooilnc http://stackoverflow.com/questions/2705583/how-to-simulate-a-click-with-javascript
    function eventFire(el, etype){
      if (el.fireEvent) {
        el.fireEvent('on' + etype);
      } else {
        var evObj = document.createEvent('Events');
        evObj.initEvent(etype, true, false);
        el.dispatchEvent(evObj);
      }
    };
    // End of Eventfire
    function toggleAll(){
      console.log("Activated");
      $(".collapsible-header").each(function(){
        eventFire(this, 'click');
      });
    };
    </script>
  </body>
</html>
