<!DOCTYPE html>
<html>
  <body>
    {% include '_includes/head.html' %}
    <div class="container">
      <ul class="collection">
        {% for post in posts %}
        <li class="collection-item">
          <div>
            <b>{{post.title}}</b>
            <p>
              {{post.text}}
            </p>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% include '_includes/scripts.html' %}
    <script>
    $(document).ready(function(){
      window.print();
    })
    </script>
  </body>
</html>
