{% extends 'base.html' %}
{% block title %}School{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="card-panel purple small" id="createAnnouncement" style="cursor:pointer" onclick="redirect">
        <div class="card-content white-text center-align">
          <h4>Create an Announcement</h4>
        </div>
      </div>
    </div>
    <div class="col s12">
      <div class="collection">
        <a class="collection-item white-text orange" href='/display/today?s={{school_uuid}}'>Read Announcements</a>
        <a class="collection-item white-text orange" href="/display/print?s={{school_uuid}}">Print Announcements</a>
        <a class="collection-item white-text orange" href='/manage/post?sid={{school_uuid}}'>Manage / Edit Announcements</a>
        {% if schoolAccount.role == "admin" %}
        <a class="collection-item white-text orange" href='/manage/main?sc={{school_code}}'>Manage</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}

<script>
$("#createAnnouncement").click(function(){
  window.location.href = '/submit?sc={{school_code}}'
});
</script>
{% endblock %}
