{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col s12">
      <ul class="collapsible popout" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active">Approved</div>
          <div class="collapsible-body">
            <div class="container">
              <ul class="collapsible" data-collapsible="accordion">
                {% for post in posts %}
                  <li>
                    <div class="collapsible-header truncate">
                      {{post.title}}
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m6">
                          <div class="card-panel">
                            <div class="card-content">
                              Created on {{post.created}} by {{post.submitterName}}
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6">
                          <div class="card-panel">
                            <div class="card-content">
                              Start Date {{post.startDate}} | End Date {{post.endDate}} | Read from {{post.readStartDate}} to {{post.readEndDate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      {{post.text}}
                      <div class="row">
                        <div class="col s6">
                          <div class="collection">
                            <a class="red collection-item white-text action-btn" action="deny" postId="{{post.uuid}}" style="cursor:pointer">Remove</a>
                          </div>
                        </div>
                        <div class="col s6">
                          <div class="collection">
                            <a class="orange collection-item white-text edit-btn" href="/manage/edit?pid={{post.uuid}}&sid={{school_uuid}}" style="cursor:pointer">Edit</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
        <li>
          <div class="collapsible-header">Pending</div>
          <div class="collapsible-body">
            <div class="container">
              <ul class="collapsible" data-collapsible="accordion">
                {% for post in requests %}
                  <li>
                    <div class="collapsible-header truncate">
                      {{post.title}}
                    </div>
                    <div class="collapsible-body">
                      <div class="row">
                        <div class="col s12 m6">
                          <div class="card-panel">
                            <div class="card-content">
                              Created on {{post.created}}
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6">
                          <div class="card-panel">
                            <div class="card-content">
                              Start Date {{post.startDate}} | End Date {{post.endDate}}
                            </div>
                          </div>
                        </div>
                      </div>
                      {{post.text}}
                      <div class="row">
                        <div class="col s4">
                          <div class="collection">
                            <a class="red collection-item white-text action-btn" action="deny" postId="{{post.uuid}}" style="cursor:pointer">Deny</a>
                          </div>
                        </div>
                        <div class="col s4">
                          <div class="collection">
                            <a class="green collection-item white-text action-btn" action="approve" postId="{{post.uuid}}" style="cursor:pointer">Approve</a>
                          </div>
                        </div>
                        <div class="col s4">
                          <div class="collection">
                            <a class="orange collection-item white-text edit-btn" href="/manage/edit?pid={{post.uuid}}&sid={{school_uuid}}" style="cursor:pointer">Edit</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(".action-btn").click(function(){
  var uuid = $(this).attr("postId");
  var action = $(this).attr("action");
  $.ajax({
    type:"POST",
    url: "/school/send",
    dataType: 'json',
    data: JSON.stringify({'uuid': uuid,
                          'action': action})
  });
  $(this).parent().parent().parent().parent().parent().toggle();
})
</script>
{% endblock %}
